// header animation
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// header styles
.header-right {
  padding-top: 0.6rem;
}

header h1 {
  bottom: 0;
  position: absolute;
}

div.navigation img.mainlogo {
  margin-bottom: 0 !important;
}

div.hero-socials {
  bottom: 0;
  right: 0;
  position: absolute;
  @media (max-width: $screen-mobile) {
    img {
      max-width: 2rem;
    }
  }
}

// 2nd header styles
div.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;

  // display: flex;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem 0 3rem;
  // background-color: rgba(0, 0, 0, 0);
  transition: all 0.4s ease-in;
  z-index: 1000;
  img {
    text-align: left;
    max-height: 3.5rem;
    margin-bottom: 0.8rem;
  }
  a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
  }
  .logo {
    margin-top: 0;
    width: 20%;
    display: flex;
  }
  @media (max-width: $screen-large) {
    img {
      max-height: 3.5rem;
    }
    a {
      font-size: 14px;
    }
  }
  @media (max-width: $screen-medium) {
    img {
      min-width: 12rem;
    }
    a {
      font-size: 12px;
      margin-top: 1rem;
    }
  }
  @media (max-width: $screen-tachyon-large) {
    padding: 1rem 2rem 0 2rem;
  }
  @media (max-width: $screen-tablet) {
    padding: 0 2rem;
    a.logo {
      width: 50%;
      margin: 0;
    }
    img {
      width: 10rem;
    }
  }
  @media (max-width: $screen-mobile) {
    nav {
      display: none;
    }
  }
}

.scrolled {
  background-color: #fff;
  height: 100px !important;
  a {
    color: $headline-color !important;
  }
  @media (max-width: $screen-tachyon-large) {
    height: 80px !important;
  }
}

.navigation a:hover {
  color: $highlight-color !important;
}

// footer styles
footer a {
  text-decoration: none;
  margin-bottom: 0.5rem;
  color: #282828;
  @media (max-width: $screen-tablet) {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

footer a:hover {
  text-decoration: underline;
}

// 사회적기업 로고 추가된 스타일

.footer-details {
  line-height: 1.8;
  letter-spacing: 0.4px;
  @media (max-width: $screen-tablet) {
    display: none;
  }
}

@media (max-width: $screen-tablet) {
  footer div {
    margin: 0;
    text-align: center;
    flex-direction: column;
  }
}

img.ngo-logo {
  width: 20rem;
  @media (max-width: $screen-tablet) {
    width: 12rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.footer-border-bottom {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  @media (max-width: $screen-tablet) {
    border: none;
  }
}

.footer-items {
  min-width: 6.5rem;
}

@media (max-width: $screen-tablet) {
  .collaboration-text {
    max-width: 70%;
    margin-right: auto !important;
    margin-left: auto !important;
  }
}
