$highlight-color: #e50012;
$headline-color: #1b1b1b;
$body-color: #282828;
$light-grey: #f2f2f2;

// $small: 30rem; //480px
// $between: 40rem; //640px
// $medium: 48rem; // 768px
// $large: 60rem; // 960px
// $desktop: 75em; //1200px

// breakpoints
$screen-xlarge: 1920px;
$screen-large: 1440px; //desktop
$screen-medium: 1024px;
$screen-tachyon-large: 960px; //large
$screen-tablet: 768px; //medium
$screen-mobile: 680px; //between
$screen-small: 480px;
